/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  margin-bottom: 20px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .navbar img {
  width: 5%;
}
header .navbar h1 {
  width: 80%;
  border: 1px solid red;
  font-size: 4rem;
}
header .navbar nav {
  display: flex;
  justify-content: space-around;
  border: 1px solid blue;
  width: 20%;
  font-size: 2rem;
}
.top-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid red;
  margin-bottom: 20px;
}
.top-content h2 {
  padding: 10px;
}
.top-content p {
  padding: 10px;
}
.top-content img {
  padding: 10px;
  width: 40%;
  align-self: center;
}
.for-mentors {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 300px;
  margin-bottom: 20px;
  border: 1px solid red;
}
.for-mentors .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}
.for-mentors img {
  width: 40%;
}
.for-mentees {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 300px;
  margin-bottom: 20px;
  border: 1px solid red;
}
.for-mentees .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}
.for-mentees img {
  width: 40%;
}
.join-now {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 100px;
  align-items: center;
  border: 1px solid red;
}
.join-now button {
  width: 50%;
}
